*{
	border: 1px solid red;
	margin: 10px;
}
header{
	background: blue;
}
section{
	background: purple;
}

article h3{
	color: green;
}

.title-a{
	background: yellow;
}
.title-b{
	background: salmon;
}

#guitarras{
	border: 3px solid brown;
}
#portada{
	border: 3px solid orange;
}
#header{
	border: 3px solid black;
}